################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Animals/.vs/Animals/v16/Browse.VC.opendb
